#friends-display-link{
    text-align: center;
    display: block;
    background-color: rgb(233, 233, 233);
    padding: 10px 0px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: -15;
}


#friends-display-link i {
    color:rgba(0, 0, 0, 0.3);
}

.friends-screen{
    padding: 8px var(--horizontal-space);
}


.friends-screen__channel{
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;       
}


.friends-screen__channel-header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}

.recommended-friends{
    margin: 25px 0px;
    padding: 25px 0px;
    border-top:var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title{
    font-size: 12px;
    color:rgba(0, 0, 0, 0.4);
}
.recommended-friends span{
    margin:100px 0;
    display: block;
    text-align: center;
    font-size: 18px;
    color:rgba(0,   0,0,0.5);
}